name: CI

on:
  workflow_dispatch:
  push:

jobs:
  ci:
    timeout-minutes: 5
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref }}"
      cancel-in-progress: true

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: "${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}"

      - name: Toolchain info
        run: |
          rustc --version
          cargo --version --verbose

      # don't lint until > 1 developer
      #      - name: Lint
      #        run: cargo fmt --all --check

      - name: Test
        run: cargo test

      - name: Build
        run: cargo build
